<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
   <input type="checkbox" name="" id="check">
    <div class="container">
      <label for="check">
         <span class="fas fa-times" id="times"></span>
         <span class="fas fa-bars" id="bar"></span>
      </label>
    </div>
 <div class="container">
    <div class="head">manu</div>
    <ol>
       <li><a href=""><i class="fas fa-qrcode"></i>dashboard</a></li>
       <li><a href=""><i class="fas fa-users"></i>services</a></li>
       <li><a href=""><i class="fas fa-arrow-up"></i>update</a></li>
       <li><a href=""><i class="fas fa-envelope"></i>portfolio</a></li>
       <li><a href=""><i class="fas fa-phone"></i>Contact</a></li>
       <li><a href=""><i class="fas fa-info"></i>about</a></li>
    </ol>
 </div>   
</body>
</html>
<!-- https://www.youtube.com/watch?v=Zuy7f4iCGu4 -->