{%extends 'home/base.html'%}
{% load crispy_forms_tags %}
{%block content%}

<h1 class="mt-4">Total Appointments</h1>

<!-- -------------------- -->
<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                <div class="card rounded">
                    <div class="card-header " style="background-color: rgb(0, 255, 21);">
                        <h5 class="card-title text-center">
                            Appointments
                        </h5>
                    </div>
                    <div class="card-body">
                        
                       {% if expireApp %}
                       <p class="card-text">Last Month Expired Appointments </p>
                        {% for app in expireApp %}
                        <div class="row text-center mt-2 pb-2 rounded" style="background-color: grey;">
                            <div class="col-sm-3">
                                <b>Patient</b><br>
                                {{app.patient_id.patientName}}

                            </div>
                            <div class="col-sm-3">
                                <b>Date</b>
                                <br>
                                {{app.appointment_date}}
                            </div>
                            <div class="col-sm-3">
                                <b>Time</b>
                                <br>
                                {{app.time}}
                            </div>
                            {%if app.status %}
                            <div class="col-sm-3">
                                <b>Action</b><br>
                                <a class="btn btn-info" href="{% url 'treat' app.id%}">start Treatment</a>
                            </div>
                            {%endif%}
                            <div class="row">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>
                    </div>
                  {%endfor%}
                 {% else %}
                 you do not have any appointment yet
                 {% endif %}
                </div>
                <div class="card-footer text-center">
                    <!-- <a href="http://" class="btn btn-primary">view more</a> -->
                </div>
            </div>

            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
    <div class="col-md-6">
        

    </div>
</div>

{%endblock%}