{%extends 'home/base.html'%}
{%load static%}
{%block content%}
<style>
    .search-form {
        position: absolute;
        margin-top: -144px;
        padding-bottom: 43px;
        margin-left: 357px;
     
    }
    .img{
        opacity: 60%;
        object-fit: cover;
    }
    .cover-photo{
        background-color: black;
        max-width:100% !important;

    }
   .search-input{
    height: 37px;
    width: 308px;
    padding-top: 4px;
    margin-top: 9px;
   }
</style>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


    body {

        font-family: "Poppins", sans-serif;
        /* font-weight: 300; */
    }



    .cardclass {

        width: 222px;
        border: none;
        border-radius: 15px;
        padding: 4px;
        background-color: #fff;
        position: relative;
        height: 290px;

    }

    .upper {

        height: 100px;

    }

    .upper img {

        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    .user {
        position: relative;
    }

    .profile img {


        height: 80px;
        width: 73px;
        margin-top: 2px;
        object-fit: cover;

    }

    .profile {

        position: absolute;
        top: -74px;
        left: 29%;
        height: 90px;
        width: 80px;
        border: 2px solid rgb(75, 247, 118);

        border-radius: 50%;

    }

    .follow {

        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
    }

    .stats span {

        font-size: 17px;
        text-align: center;
    }
</style>
<div class="cover-photo">
    <img class="img" src="{% static 'images/search-doctors.jpg' %}" width="100%" height="210px" alt="image">
</div>
<div class="search-form">
    <form action="{% url 'searchDoctors' %}" method="get">
      
        <div class="input-group mb-3">
            <select name="catagory" id="" class="m-2 rounded">
                <option value="0" selected>All</option>
                {%for c in docCat%}
                <option value="{{c.id}}">{{c.catagoryName}}</option>
                {%endfor%}
            </select>
            <input type="text" class="form-control search-input rounded" width="308px" name="query" placeholder="Search doctor by name">
            <div class="input-group-append">
                <button class="btn btn-success m-2 rounded">search</button>
            </div>
          
        </div>
    </form>
</div>


<div class="container d-flex justify-content-center align-items-center mt-2">
    <!-- <p class="text text-success">{{total}} doctors found</p><br> -->
    <div class="row" style="margin-right: 9px;">
        {%for d in page_obj%}
        {%if d.DoctorName%}
        <div class="col-sm-3 " style="width: auto;">
            <div class="cardclass mb-5 " style=" background-color:rgb(199, 253, 235); padding-bottom: 47px !important;">

                <div class="upper ">

                  <span class="text-center"> <img src="{% static 'images/search-doctors.jpg' %}" style="height: 60px;" class="img-fluid "></span>
                </div>
                <div class="user text-center">
                    <div class="profile">
                        {%if d.profilePicture%}
                        <img src="{{d.profilePicture.url}}" class="rounded-circle" width="80">
                        {%else%}
                        <img src="{% static 'images/default.jpeg' %}" class="rounded-circle" width="80"> 
                        {%endif%}
                    </div>
                </div>
                <div class="mt-5 text-center">

                    <h4 class="mb-0">{{d.DoctorName}}</h4>
                    <span class="text-muted d-block mb-2">{{d.catagory_id.catagoryName}}</span>
                <a class="btn btn-primary btn-sm follow" href="{% url 'bookAppointment' pk=d.id %}">Book Appointment</a>
                   

                    <hr>
                    <!-- <div class="d-flex  px-1" > -->
                        <!-- <div class="stats" style="color: green;" >
                            <h6 class="mb-0">Available Slots</h6>
                            <span></span>
                        </div> -->
                    <!-- </div> -->

                </div>

            </div>

        </div>
        {%endif%}
        {%endfor%}
   
    </div>

</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}